@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");

:root {
  --line-fill: #3498db;
  --border-fill: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
body h2 {
  position: absolute;
  top: 25%;
}

.container {
  text-align: center;
}
.progress-container {
  display: flex;
  justify-content: space-between;
  width: 350px;
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
}

.progress-container::before {
  content: "";
  background-color: var(--border-fill);
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  z-index: -1;
  transition: 0.4s ease;
}
.progress {
  background-color: var(--line-fill);
  position: absolute;
  top: 50%;
  width: 0%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  border: 3px solid #e0e0e0;
  transition: 0.4s ease;
}

.active {
  border-color: var(--line-fill);
}

.btn {
  background-color: var(--line-fill);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}
.btn:active {
  transform: scale(0.98);
}
.btn:disabled {
  background-color: var(--border-fill);
  cursor: not-allowed;
}
